# intermediate and binary files
*.a
*.bak
*.cod
*.def
*.dll
*.exe
*.exp
*.gch
*.idb
*.idc
*.ilk
*.lib
*.log
*.lst
*.manifest
*.manifest.res
*.map
*.ncb
*.o
*.obj
*.pch
*.pdb
*.rar
*.so
*.so.*
*.suo
*.user
*.vsp
# top dirs
/docs
/plugins
/sql_sp
/test_anything
/test_stuff
# executables
/libxpl/tests/Runner
/xpl/xpl
/xplweb/xplweb
/xts/Runner
# build directories
**/build/
# specific files
mt.dep
# IDE
**/.settings
**/.cproject
**/.project
user.dict
# core dumps
**/core
# parser test configs
/xpl/*.xpl
/xplweb/*.xpl
/xplweb/*.conf
# internal todo list
/ToDo.txt
# debug memory dumps
**/.memdump
# test output
/command-tests/composite/out/*.xml
/command-tests/composite/save/*.xml
/command-tests/composite/save/a/*
# private configs
/command-tests/composite/conf/*.xpl
# xplweb test upload directory
/xplweb/upload
