# extensions
*.a
*.bak
*.cod
*.def
*.dll
*.exe
*.exp
*.gch
*.htm*
*.idb
*.idc
*.ilk
*.lib
*.log
*.lst
*.manifest
*.manifest.res
*.map
*.ncb
*.o
*.obj
*.pch
*.pdb
*.rar
*.so
*.so.*
*.suo
*.user
*.vsp
# top dirs
/plugins
/sql_sp
/test_anything
# tests
/parser/tests/Runner
/xts/Runner
# other binaries
/cmdline/cmdline
/xplweb/xplweb
# build directories
**/build/
# specific files
mt.dep
# IDE
**/.settings
# core dumps
**/core
